.gpfup-big-images .gpfup__files {
	display: flex;
	flex-wrap: wrap;
	border: 0;
	padding: 0;
	box-shadow: none;
	margin: 0 -0.5rem;
}

.gpfup-big-images .gpfup__file {
	width: calc( 50% - 1rem );
	border: 0 !important;
	padding: 0;
	margin: 0 0.5rem 1rem !important;
	background: rgba( 0, 0, 0, 0.9 );
	border-radius: 4px;
        overflow: hidden;
        min-height: 100px;
}

.gpfup-big-images .gpfup__preview {
	margin-right: 0;
	display: grid;
}

.gpfup-big-images .gpfup__preview img {
	width: 100% !important;
	height: auto !important;
	display: block;
	margin: auto;
        border-radius: 0;
}

.gpfup-big-images .gpfup__file-info {
	position: absolute;
	bottom: 0;
	transition: opacity .3s ease-in-out;
	width: 100%;
	border-radius: 0 0 4px 4px;
	padding: 0.5rem;
	color: #fff;
	background: #000;
	background: linear-gradient(0deg, rgba(2, 0, 36, 1) 0%, rgba(0, 0, 0, 1) 0%, rgba(255, 255, 255, 0) 100%);
	margin: 0;
}
.gpfup-big-images .gpfup__filesize {
	font-size: 0.8em;
}

.gpfup-big-images .gpfup__file-actions {
	top: 0.5rem;
	right: 0.5rem;
}

.gpfup-big-images .gpfup__delete {
	opacity: 0.7;
	transition: opacity 0.25s ease-out;
}

.gpfup-big-images .gpfup__delete svg {
	fill: white;
	width: 1rem;
	filter: drop-shadow( 0 0 1px black );
	transition: filter 0.25s ease-out;
}

.gpfup-big-images .gpfup__delete:hover {
	opacity: 1;
}

.gpfup-big-images .gpfup__delete:hover svg {
	filter: drop-shadow( 0 0 4px black );
}

.gpfup-big-images .gpfup__droparea {
	border-radius: 4px;
}

.gpfup-big-images .gpfup__edit {
	width: 2.6rem;
	height: 2.6rem;
        line-height: 1;
}