name: PHP Lint (PR)

on: [pull_request]

jobs:
  PHPCS:
    name: PHPCS (Files Changed)
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0 # The blame will not work without this

      # PHP 8 will throw PHP Fatal error: Uncaught TypeError: vsprintf(): Argument #2 ($values) must be of type array, string given in ...
      - uses: nanasess/setup-php@v4.1.0
        with:
          php-version: '7.4'

      - name: Install dependencies
        run: composer install --dev --prefer-dist --no-progress --no-suggest

      - uses: thenabeel/action-phpcs@v8
        with:
          files: "**.php,**.js,**.css"
          phpcs_path: ./vendor/bin/phpcs
          standard: phpcs.xml
